@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Welcome - @ViewBag.Teste - @ViewBag.TesteINT </h1>
    <p>Aprenda sobre <a href="https://docs.microsoft.com/aspnet/core">construir aplicativos Web com Asp .Net Core</a>.</p>
</div>
